.Switch {
	&__button {
		width: 80px;
		height: 38px;
		background: transparent;
		position: absolute;
		margin-top: -30px;
		right: $container-padding;
		cursor: pointer;

		&:hover {
			box-shadow: 0 0 0 1px $yellow;
		}

		&:after {
			background: url('https://1.bp.blogspot.com/-89emShQIeQE/U9FODqLsoZI/AAAAAAAAAoY/u-vS-XqB5yA/w800-h800/For+Blog.png') no-repeat;
			background-size: contain;
			left: 2px;
			top: 2px;
		}

		&:before {
			background: url('http://www.freeiconspng.com/uploads/timeline-list-grid-list-icon-512x512-pixel-0.png') center center no-repeat;
			background-size: 25px;
			background-color: $yellow;
			right: 2px;
			top: 2px;
		}

		&:after, &:before {
			content: '';
			display: block;
			width: 34px;
			height: 34px;
			position: absolute;
		}

		&.grid:after {
			background-color: $yellow;
		}

		&.grid:before {
			background-color: transparent;
		}
	}
}