@font-face {
	font-family: 'Din Pro';
	src: url('../assets/fonts/DINNextLTPro-UltraLight.otf') format('woff');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'Din Pro';
	src: url('../assets/fonts/DINNextLTPro-Light.otf') format('woff');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Din Pro';
	src: url('../assets/fonts/DINNextLTPro-Regular.otf') format('woff');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Din Pro';
	src: url('../assets/fonts/DINNextLTPro-Bold.otf') format('woff');
	font-style: normal;
	font-weight: 700;
}